@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: #0d1117;
    color: #f9f9f9;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: #fff; */
    font-family: "Antonio", sans-serif;
}

ul,
ol {
    margin-left: 15px;
}
